@import  "vars";
@import "resets";
@import "general";
@import "flex";


/************main code*********/
.cont{
    background-color: #ffff;
    border-top:3px solid #0095be;
    border-radius: 5px;

}

.nav-list{
    font-size:1.5rem;
    padding:1rem 2rem;
    font-weight: 700;
    
}

.nav-list a{
    color:$secondaryColor;
}

.item{
    // padding:1rem;
    background-color: #ffff;
    // border-top:1px solid #0095be;
    border-radius: 5px;
    color:$primaryColor;
    margin-bottom: 1rem;
    
}

.item p{
    font-size:1.1rem;
    letter-spacing: 1px;
    padding: 1rem;
}

.item a{
    color:$tertiaryColor;
    font-weight: 500;
    padding: 1rem;

}

.middle ,.one,.four,.two,.six{
    
    border-top:3px solid #0095be;
    
}

.picture{
    border-radius:50%;
    object-fit: cover;
    margin-bottom: 1rem;
    
}

.graph .iconify{
    font-size:9rem;
    margin-bottom: 1rem;
}

.box4{
    background-color: $tertiaryColor;
    padding: 0.8rem 0;
}

.box4 a{
    color:#ffff;
    font-weight: 500;
}

.box5{
    background-color:$secondaryColor;
    color:#ffff;
}

.one ,.two ,.five ,.six{
    padding-bottom: 0.5rem;
}


/******************==============Small Screen========***********/
/***=================================================********/
/*************Responsive for smaller Screens*********/
@media screen and (max-width:1200px){
    .container{
        max-width:1140px;
    }
}

@media screen and (max-width:992px){
    html{
        font-size: 14px;
    }
    .container{
        max-width:960px;
    }
}

@media screen and (min-width:576px) and (max-width:768px){
    html{
        font-size: 12px;
    }   
    .container{
        max-width:758px;
        padding: 0;
        
     
    }
    .container2{
        max-width:758px;
        padding: 1rem;
        grid-template-areas: "sidebar-l  sidebar-r"
                             "middle   sidebar-r";
    }
    .middle{
        grid-area: middle;
        grid-column: 1/2;
    }
    .sidebar-l{
        grid-area: sidebar-l;
        grid-column: 1/2;
    }
    .sidebar-r{
        grid-area: sidebar-r;
        grid-column: 2/-1;
    }
}
    /********more smaller screen*********/
@media screen and (max-width:576px){
    html{
        font-size: 10px;
    }
    .container{
        max-width:550px;
        
    }
    .container2{
        max-width:550px;
        padding: 1rem;
        
    
    }

    .vsmpadding{
        padding: 1rem;
    }
    
    .middle{
        
        grid-column: 1/-1;
    }
    .sidebar-l{
        
        grid-column: 1/-1;
    }
    .sidebar-r{
        
        grid-column: 1/-1;
    }

    .nav-list{
        font-size:1rem;
        padding:1rem 1rem;
        font-weight: 700;
        
    }
    
    

}